# Project stuff
*.sha256
*.bz2
*.df
*.json
*.mobi
*.xml
*.zip
dict-data.*
sections.txt
templates.txt
/data/
tests/data/*/dict-data.*
tests/data/*/INSTALL.txt
tests/data/*/stardict/
tests/data/*/words.*
tests/data/*/res
tests/data/*/tmp

# Project stuff - update-bot.py
apicache-py3
pywikibot.lwp
throttle.ctrl

# Python stuff
.coverage
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
venv/
