-r requirements.txt
black==22.1.0
coverage!=6.3.0
flake8==4.0.1
mypy==0.940
pdoc3==0.10.0
pydocstyle==6.1.1
pytest==7.1.0
pytest-cov==3.0.0 
pytest-dependency==0.5.1
responses==0.19.0
types-cachetools==5.0.0
types-requests==2.27.12
