-r requirements.txt
black==22.3.0
coverage!=6.3.0
flake8==4.0.1
mypy==0.950
pdoc3==0.10.0
pydocstyle==6.1.1
pytest==7.1.2
pytest-cov==3.0.0 
pytest-dependency==0.5.1
responses==0.20.0
types-cachetools==5.0.1
types-requests==2.27.20
