setuptools>=36.2.1
beautifulsoup4==4.11.2
docopt==0.6.2
Jinja2==3.1.2
marisa-trie==0.7.8
mistune==2.0.5  # for DictFile reading
pyglossary==4.6.0
requests==2.28.2
scour==0.38.2
wikitextparser==0.51.1
