-r requirements.txt
black==22.12.0
coverage!=6.3.0
flake8==6.0.0
isort==5.11.4
mypy==0.991
pdoc3==0.10.0
pydocstyle==6.1.1
pytest==7.2.0
pytest-cov==4.0.0 
pytest-dependency==0.5.1
responses==0.22.0
types-cachetools==5.2.1
types-requests==2.28.11.6
