name: Daily random word

on:
  schedule:
    # At 06:00 (UTC) every day
    - cron: "0 6 * * *"

  # Allow to call the workflow manually
  workflow_dispatch:

jobs:
  daily:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        locale: # XXX_LOCALES
          - "ca"
          - "da"
          - "de"
          # - "el"
          - "en"
          - "es"
          - "fr"
          - "it"
          - "no"
          - "pt"
          - "ro"
          - "ru"
          - "sv"

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: pip

      - name: Install requirements
        run: python -m pip install -r requirements.txt

      - name: Get a random word
        id: get-word
        run: python -Wd -m wikidict ${{ matrix.locale }} --get-word=''

      - name: Check that random word
        run: python -Wd -m wikidict ${{ matrix.locale }} --check-word=${{ steps.get-word.outputs.word }}
