name: Quality & Tests

on: pull_request

permissions:
  contents: write
  pull-requests: write

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: pip

      - name: Install requirements
        run: python -m pip install -r requirements-tests.txt

      - name: Quality checks, and linters
        run: ./check.sh

      - name: Unit tests
        run: python -Wd -m pytest tests --doctest-modules wikidict

      - name: Automerge
        if: ${{ github.actor == 'dependabot[bot]' }}
        run: gh pr merge --auto --rebase "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
